.cardPortfolio {
    width: 100%;
    margin-bottom: var(--Margin-M);
    background-color: #edeff1;
    padding: var(--Margin-S);  
    transition: .3s;
    overflow: hidden;
}

.cardPortfolio:hover {
    margin-bottom: var(--Margin-S);
}

.title {
    margin: 0;
}

.img {
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    transition: .3s;
}

.cardPortfolio:hover img {
    transform: scale(1.1);
}

.contenido {
    padding: var(--Margin-S);
    position: relative;
    z-index: 1;
}

.technologys {
    display: flex;
    gap: var(--Margin-S);
}

.technology {
    color: var(--Color-primary);
    padding: 0 var(--Margin-S);
    border: 1px solid var(--Color-primary);
    background-color: rgba(255, 0, 0, 0.244);
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.25rem;
    border-radius: 9999px;
}
