.cardPrimary {
    margin: 0 0 var(--Margin-M) 0;
    text-align: left;
    background-color: #edeff1;
    padding: var(--Margin-S);  
    transition: .3s;
    overflow: hidden;
}

.cardPrimary:hover .img {
    transform: scale(1.1);
}

.picture {
    overflow: hidden;
    width: 18.75rem;
    height: 18.75rem;
}

.imagen {
    overflow: hidden;
}

.img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    margin: 0 0 1rem 0;
    transition: .3s;
}

.imgProfile {
    width: 2.1875rem;
    height: 2.1875rem;
    object-fit: cover;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details {
    flex-direction: row;
    justify-content: flex-start;
}

.detailsDescription {
    margin: 0 0 0 var(--Margin-S);
    align-items: flex-start;
    font-size: .75rem;
}

.descriptionContainer {
    position: relative;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(237,239,241);
    background: linear-gradient(180deg, rgba(237,239,241,0) 0%, rgba(237,239,241,0) 52%, rgba(237,239,241,1) 100%);
}