.cardPrimary {
    margin: 0 0 var(--Margin-M) 0;
    text-align: left;
    -webkit-box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.19);
    -moz-box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.19);
    box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.19);
    padding: var(--Margin-S);  
    transition: .3s;
    overflow: hidden;
}

.cardPrimary:hover {
    margin-bottom: var(--Margin-S);
}

.cardPrimary:hover .img {
    transform: scale(1.1);
}

.picture {
    overflow: hidden;
}

.imagen {
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    max-height: 37.5rem;
    object-position: center;
    object-fit: cover;
    margin: 0 0 1rem 0;
    transition: .3s;
}

.imgProfile {
    width: 2.1875rem;
    height: 2.1875rem;
    object-fit: cover;
}

.details {
    flex-direction: row;
    justify-content: flex-start;
}

.detailsDescription {
    margin: 0 0 0 var(--Margin-S);
    align-items: flex-start;
    font-size: .75rem;
}