.containerTienda {
    margin-top: calc(4.375rem + var(--Margin-M));
    padding-bottom: var(--Margin-M);
    justify-content: center;
    align-items: center;
}

.cardsProducts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1rem;  
}