.containerProductDetails {
    margin-top: calc(4.375rem + var(--Margin-M));
    padding-bottom: var(--Margin-M);
    justify-content: center;
    align-items: center;
    gap: var(--Margin-M);
}

@media (min-width: 720px) {
    .productDetails {
        display: flex;
        gap: var(--Margin-M);
    }
}

.box {
    width: 100%;
    background-color: #faf8ff;
    padding: var(--Margin-S) var(--Margin-M);
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.details {
    padding: var(--Margin-M) 0;
    gap: 1rem;
    align-items: flex-start;
}

@media (min-width: 720px) {
    .details {
        padding: 0;
    }
}

.title {
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.price {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
}

.talla {
    width: 100%;
}

.tallas {
    width: 100%;
    padding: var(--Margin-S);
    border: 1px solid rgba(0, 0, 0, .4);
}

.cantidadContainer {
    display: flex;
    gap: var(--Margin-S);
    justify-content: center;
    align-items: center;
}

.cantidadItem {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #faf8ff;
}

.cantidadItemNumber {
    cursor: auto;
    background-color: transparent;
}

.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .87);
    color: white;
    font-weight: 500;
    transition: .3s;
    animation: btn 7s ease-in-out infinite alternate-reverse forwards;
}

.btn:hover {
    background: black;
}

@keyframes btn {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(0);
    }
    42%{
        transform: translateX(-0.3rem);
    }
    45%{
        transform: translateX(.3rem);
    }
    47%{    
        transform: translateX(-0.3rem);
    }
    49%{
        transform: translateX(.3rem);
    }
    51%{
        transform: translateX(-0.3rem);
    }
    53%{
        transform: translateX(.3rem);
    }
    55%{
        transform: translateX(-0.3rem);
    }
    57%{
        transform: translateX(.3rem);
    }
    60% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}


.pagosTarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagos {
    display: flex;
    gap: var(--Margin-S);
}

.shares {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--Margin-S);
}

.sharesList {
    display: flex;
    gap: var(--Margin-S);
}

.sharesItem {

}

.sharesBtn {
    border: none;
    cursor: pointer;
}


.cardsProducts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1rem;  
}