.containerProductDetails {
    margin-top: calc(4.375rem + var(--Margin-M));
    padding-bottom: var(--Margin-M);
    justify-content: center;
    align-items: center;
    gap: var(--Margin-M);
}

@media (min-width: 720px) {
    .productDetails {
        display: flex;
        gap: var(--Margin-M);
    }
}

.box {
    width: 100%;
    background-color: gainsboro;
    padding: var(--Margin-S) var(--Margin-M);
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.details {
    padding: var(--Margin-M) 0;
    gap: 1rem;
    align-items: flex-start;
}

.title {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 1.75rem;
    text-align: left;
}

.price {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
}

.tallas {
    width: 100%;
    padding: var(--Margin-S);
    border: 1px solid black;
}

.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--Color-dark);
    color: white;
    font-weight: 500;
}


.pagosTarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagos {
    display: flex;
    gap: var(--Margin-S);
}

.shares {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--Margin-S);
}

.sharesList {
    display: flex;
    gap: var(--Margin-S);
}

.sharesItem {

}

.sharesBtn {
    border: none;
    cursor: pointer;
}


.cardsProducts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1rem;  
}