.conoceme {
    margin-top: calc(4.375rem + var(--Margin-M));
    padding-bottom: var(--Margin-M);
    max-width: 45rem;
    gap: var(--Margin-S);
}

.title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

.picture {
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
    margin-bottom: var(--Margin-S);
    object-fit: cover;
}

.img:first-of-type {
    margin-top: var(--Margin-S);
}

.paragrath {
    text-align: justify;
}