.cardsSection {
    margin-bottom: var(--Margin-M);
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: .25rem;
}

.btn {
    color: white;
}

.link {
    width: 100%;
}

.gridBlog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: var(--Margin-S);
}