.blogs {
    margin-top: calc(4.375rem + var(--Margin-M));
    gap: var(--Margin-S);
    padding-bottom: var(--Margin-M);
    text-align: left;
    max-width: 45rem;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-align: center;
}

.picture {
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
    max-height: 37.5rem;
    object-position: center;
    margin-bottom: var(--Margin-S);
    object-fit: cover;
}

.img:first-of-type {
    margin-top: var(--Margin-S);
}

.blogs p {
    width: 100%;
    margin: 0;
}