.blogs {
    margin-top: calc(4.375rem + var(--Margin-M));
    gap: var(--Margin-S);
    padding-bottom: var(--Margin-M);
}

.img {
    width: 100%;
    margin-bottom: var(--Margin-S);
}

.img:first-of-type {
    margin-top: var(--Margin-S);
}

p {
    margin: 0;
}