.blogs {
    margin-top: calc(4.375rem + var(--Margin-M));
    gap: var(--Margin-S);
    padding-bottom: var(--Margin-M);
    text-align: justify;
    max-width: 45rem;
}

.picture {
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
    margin-bottom: var(--Margin-S);
    object-fit: cover;
}

.img:first-of-type {
    margin-top: var(--Margin-S);
}

.blogs p {
    width: 100%;
    margin: 0;
}