.cardSecondary {
    flex-direction: row;
    margin: 0 0 var(--Margin-M) 0;
}

.picture {
    width: 40%;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.details {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: var(--Margin-S);
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.subtitle {
    font-size: .75rem;
}