.cardSecondary {
    flex-direction: row;
    width: 100%;
    margin: 0 0 var(--Margin-M) 0;
    background-color: #edeff1;
    padding: var(--Margin-S);  
    transition: .3s;
    overflow: hidden;
}

.cardSecondary:hover {
    margin-bottom: var(--Margin-S);
}

.picture {
    width: 40%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    max-height: 12.5rem;
    object-fit: cover;
    transition: .3s;
}

.cardSecondary:hover img {
    transform: scale(1.1);
}

.details {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: var(--Margin-S);
    padding: var(--Margin-S);
    position: relative;
}

.title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: var(--Margin-S);
}

.subtitle {
    font-size: 0.875rem;
}