.cardSecondary {
    flex-direction: row;
    width: 100%;
    margin: 0 0 var(--Margin-M) 0;
    -webkit-box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.19);
    -moz-box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.19);
    box-shadow: 3px 4px 2px 2px rgba(0,0,0,0.19);
    padding: var(--Margin-S);  
    transition: .3s;
    overflow: hidden;
}

.cardSecondary:hover {
    margin-bottom: var(--Margin-S);
}

.picture {
    width: 40%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: .3s;
}

.cardSecondary:hover img {
    transform: scale(1.1);
}

.details {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: var(--Margin-S);
    background-color: var(--Color-ligth);
    padding: var(--Margin-S);
    position: relative;
    z-index: 10;
}

.title {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.subtitle {
    font-size: .75rem;
}